/* CSS crunched with Crunch - http://crunchapp.net/ */
.panel-campaign .panel-header {
  background: ;
  color: #141414;
}
.panel-campaign .panel-header a {
  color: #141414;
}
.panel-campaign img {
  padding-bottom: 1em;
}
.panel-campaign .panel-body {
  padding: 0;
}
.panel-campaign .col-lg-12 {
  padding: 1em 2em 1em;
}
.panel-white .panel-footer {
  color: #141414;
  background-color: #fff!important;
}
